#calendar-title {
    text-align: center;
}


#back-to-form {
    display: block;
    padding: 10px;
    margin: 0 auto;
    background-color: #BF122B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

#calendar {
    padding: 10px;
}