#calendar {
    background-color: white;
    color: black;
    border: thin solid black;
    border-radius: 9px;
    scroll-margin-top: 5px;
}

.fc-day-today {
    background: inherit !important;
}

.async-course-name {
    color: #BF122B;
}

.fc-event-main:hover {
    cursor: pointer;
}

.fc-button {
    background-color: black !important;
}

.fc-prev-button {
    margin-right: 2px !important;
}