/* FormComponent.css */

.form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: thin solid black;
    border-radius: 9px;
    margin-bottom: 350px;
    color: black;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.submit-button,
.clear-all-button,
.clear-courses-button,
.clear-filters-button {
    padding: 10px;
    margin: 10px;
    background-color: #BF122B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.clear-all-button,
.clear-courses-button,
.clear-filters-button {
    background-color: #080B07;
}


span.required-input {
    color: #BF122B;
}

span.optional-input {
    font-size: small;
    font-style: italic;
    font-weight: normal;
}
