/* FormComponent.css */

.form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: thin solid black;
    border-radius: 9px;
    margin-bottom: 150px;
    color: black;
    scroll-margin-top: 50px;
}

span.optional-input {
    font-size: small;
    font-style: italic;
    font-weight: normal;
}