.landing-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(-45deg, #8D0A21, #BF122B 40%, #b43040 60%, #8D0A21);
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
    text-align: center;
    margin-bottom: 200px;
    color: white;
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}